
<!--(include)-->header.tmpl.html<!--(end)-->

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="two-thirds column">
            <h1>Hello!</h1>
        </div>
        <div class="one-third column">
            <h5>See our <a href="/non-existent-page">404 page!</a></h5>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="two-thirds column" style="text-align:justify; font-family:monospace;">
            <p>This a bare CherryServer. You can further develop on top of it.</p>

            <p>See this website layout? This is the default layout of your page. It has a fancy vertical navigation bar which is responsive. That means, it will work just fine in small devices too.</p>

            <p>This server is totally complete with all necessary tools to help you build any application based on a simple http web server. It has a very simple albeit very powerful and lovable template engine, <i>pyratemp</i>.</p>

            <p>If you don't like to write html on your own, you can use another small python friendly html generator tool, <i>markup</i>.<br/>Both are ready to follow this simple web layout.</p>

            <p>This server was developped so that you don't need to worry about the front end. You should take a look at the <i>Readme.md</i> inside <i>cherryserver</i> for recommended structure of your new application so that it best matches with this server structure.</p>
        </div>
    </div>
</div><!-- END .container -->
<!--(include)-->footer.tmpl.html<!--(end)-->
