<!--(include)-->header.tmpl.html<!--(end)-->

<div class="container" style="margin-top:8%">
    <div class="row">
        <a class="spf-link" href="/spfjs/respond">Go Now!</a>
        <div id="content"></div>
    </div>
</div><!-- END .container -->

<script src="/media/script/spf.js"></script>
<script>
    spf.init();
</script>

<link name="nprogress" rel="stylesheet" href="/media/style/nprogress.css">

<script name="nprogressjs" src="/media/script/nprogress.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
        $(document).on("spfclick", function() {
          NProgress.start();
        });

        $(document).on("spfrequest", function() {
          NProgress.inc();
        });

        $(document).on("spfprocess", function() {
          NProgress.set(0.8);
        });

        $(document).on("spfdone", function() {
          NProgress.done();
        });
    });

</script>

<!--(include)-->footer.tmpl.html<!--(end)-->
