
.icon-code:before {
  content: "*"; }

.icon-home:before {
  content: "*"; }

.content-frame {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  background-color: #fff;
  
  -ms-transform: translate(250px, 0);
  -moz-transform: translate(250px, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate(250px, 0);

  -ms-transition: -ms-transform 0.50s ease-in-out;
  -moz-transition: -moz-transform 0.50s ease-in-out;
  -webkit-transition: -webkit-transform 0.50s ease-in-out;
  transition: transform 0.50s ease-in-out;
  
  min-height: 1600px;
  }

.nav-collapsed .content-frame {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  }

#topbar {
  height: 60px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: fixed;
  background: #333;
  z-index: 1;
  display: block;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#topbar h3 {
  display: block;
  color: #fff;
  padding-left: 60px;
  padding-top: 10px;
  position: absolute;
}

#logo {
  display: block;
  color: #fff;
  padding-left: 60px;
  padding-top: 10px;
  position: absolute;
}

.menu-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 11px;
  color: #222;
  z-index: 999;
  display: block;
  color: transparent;
  border: none;
  background: transparent;
  }

.menu-toggle:hover {
  color: #555;
  border: 1px solid #000;
  background: #000;
}

.menu-toggle img{
  padding-top: 10px;
}

.toggle-me {
  font-size: 2em;
}

#navigation-label {
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 35px;
  padding: 5px 260px 3px 1px;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #fff;
}

.offcanvas {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #222;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.50s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.50s, background linear 0.1s;
  -o-transition: width ease-in-out 0.50s, background linear 0.1s;
  transition: width ease-in-out 0.50s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

.offcanvas.open {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  width: 300px;
  }

.offcanvas ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  }

.offcanvas li {
  display: block;
  margin-bottom: 0;
}

.offcanvas a {
  display: block;
  height: 100%;
  width: 100%;
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid #353434;
  padding: 13px 10px;
  transition: 0.3s ease all;
  }

.offcanvas a:hover {
  background-color: #111;
  color: #fff;
  }

.offcanvas a i {
  font-size: 23px;
  float: left;
  padding: 0 15px 0 4px;
  }

.offcanvas a.moveright {
  padding-left: 40px;
  }

@media all and (min-width: 640px) {
  body {
    padding-left: 40px;
  }

  .menu-toggle {
    display: none;
   }
}

@media all and (max-width: 640px) {

   #logo {
    display: none;
   }
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    text-indent: -100%;
    white-space:nowrap;
    overflow: hidden;
    background: url('/media/image/top.png') no-repeat;
    background-color: #000;
    border-radius: 10px;
}
